.footer {
    background-color: rgb(247, 255, 11);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 48px 0;
}

.insta a {
    color: black;
    font-size: 35px;
   
}

.insta a:hover {
     color: rgb(255, 255, 255);
    transition: 0.4s;
}

.meteo a {
    color: black;
    font-size: 35px;
   
}

.meteo a:hover {
     color: rgb(255, 255, 255);
    transition: 0.4s;
}

.l {
    color: black;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
}

.l:hover {
     color: rgb(255, 255, 255);
    transition: 0.4s;
}


